---
import Logo from "./Logo.astro";
---

<header id="header-nav" class="fixed w-screen z-50 top-0 lg:px-0">
  <div
    class="grid [grid-template-columns:40px_repeat(2,1fr)] sm:grid-cols-3 max-w-7xl mx-auto p-1 items-center justify-between"
  >
    <a href="/" class="col-span-1">
      <Logo class="w-10 h-auto" />
    </a>
    <nav class="col-span-1 w-full flex gap-2 justify-end md:justify-center">
      <a class="hover:underline" href="/info">INFO</a>
      <a class="hover:underline" href="/archivo">ARCHIVO</a>
    </nav>
    <a
      href="#"
      class="border text-xs md:text-base rounded-full inline-block border-white px-2 py-2 justify-self-end hover:bg-white hover:text-black duration-300"
    >
      Esland
    </a>
  </div>
</header>
